@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); //ANTON


//colors

$color-primary: #1b2f57;
$color-secondary :#f89725;
$color-white: #fff;

$color-light-grey: #11101021;

//font family
$font-nav:'Courier New', Courier, monospace;
$font-showcase:'Anton', sans-serif;
$font-barHeading:'Lato', sans-serif;

//Shadow
$primary-shadow: #1b2f5796;
